<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kupilaptop</title>

        <!--Icons-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="assets/img/core-img/favicon.ico">
    
        <!--CSS-->
    <link rel="stylesheet" href="assets/css/core-style.css">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <header class="header_area">
        <!--Navbar-->
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <nav class="classy-navbar" id="essenceNav">
            <a class="nav-brand" href="#!home"><h3>KUPILAPOP</h3></a>
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <div class="classy-menu">
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <div class="classynav">
                    <ul>
                        <li><a href="#!home">Početna</a></li>
                        <li><a href="#!shop">Laptopi</a></li>
                        <li><a href="#!conatct">Kontakt</a></li>
                    </ul>
                </div>
            </div>
            </nav>
            <div class="header-meta d-flex clearfix justify-content-end">
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Pretraga">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div class="user-login-info">
                    <a href="#!adminPanel"><img src="assets/img/bg-img/plus.png" alt=""></a>
                </div>
                <div class="user-login-info">
                    <a href="#!login"><img src="assets/img/core-img/user.svg" alt=""></a>
                </div>
            </div>
        </div>
    </header>

    <section class="welcome_area bg-img background-overlay" style="background-image: url(assets/img/bg-img/mainlaptop.jpg);">
        <div class="container h-100">
            <div class="row h-50 align-items-end">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>Odaberite 
                        <br>svoj laptop</h2>
                        <a href="#!shop" class="btn essence-btn">Kupuj</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(assets/img/bg-img/igrice.jpg);">
                        <div class="catagory-content">
                            <a href="#!shop">Gamerski</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(assets/img/bg-img/poslovni.jpg);">
                        <div class="catagory-content">
                            <a href="#!shop">Poslovni</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(assets/img/bg-img/laptop-tablet.jpg);">
                        <div class="catagory-content">
                            <a href="#!shop">Laptop-Tablet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url(assets/img/bg-img/dppozadina.jpg);">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6>-40%</h6>
                                <h2>Današnja <br>Ponuda</h2>
                                <a href="#!info" class="btn essence-btn">Detaljno</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/bg-img/hplogo.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/bg-img/razerlogo.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/bg-img/alienlogo.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/bg-img/msilogo.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/bg-img/toshibalogo.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="assets/img/bg-img/lenovoogo.png" alt="">
        </div>
    </div>
    <footer class="footer_area clearfix">
        <div class="container">
        <div class="row">
        <div class="col-12 col-md-6">
            <div class="single_widget_area d-flex mb-30">
                <div class="footer-logo mr-50">
                    <a class="nav-brand" href="#!home"><h3 style="color: white">KUPILAPOP</h3></a>
                </div>
                <div class="footer_menu">
                    <ul>
                        <li><a href="#!home">Početna</a></li>
                        <li><a href="#!shop">Laptopi</a></li>
                        <li><a href="#!contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="single_widget_area">
                <div class="footer_social_area">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        </div> 
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                Copyright &copy; All rights reserved | </i> Made by Aldin Bećić <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
</footer>
</body>

</html>